.hero {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    background-color: #30509b;
    color: #fff;
}

.hero-text {
    font-weight: 700 !important;
}

.row {
    max-width: 1100px;
    overflow: hidden;
}

.display-1 {
    font-weight: 700 !important;
    color: #201b93;
    font-size: calc(3rem + 4.5vw) !important;
}

.fs-3 {
    font-weight: 500;
}

.screen {
    overflow-x: hidden;
    max-width: 100%;
}
.footer {
    height: 300px;
    display: flex;
    justify-content: center;
    background-color: #30509b;
    color: #fff;
}